@import '../styles/accordion.scss';

.home {

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

        .chkPadded {
            padding: 10px;
        }
    }

    .actions-section {
        display: flex;
        align-items: center;
        width: 800px;

        .button {
            margin: 10px;
        }
    }

    .accordion {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        box-shadow: none !important;
        width: 100%;

        .todoItem {
            margin: 2px;
            padding: 10px !important;
            border-radius: 4px;
            box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
            width: 800px;
        }

        .note {
            .trash {
                float: right;
                cursor: pointer;
            }
        }

        .title {
            display: flex;
            justify-content: left;
            align-content: center;
            flex-direction: row;
            border-top: none !important;

            .todoChk {
                margin-right: 15px;

            }

            .dropdown::before {
                content: '\f0da';
            }

            &.active {
                .dropdown {
                    transform: rotate(90deg);
                }
            }
        }
    }
}